/* Página Inicial */
 /* Sobre */
#seção_sobre{
	margin: 50px 0px;
	background: grey;
}




#seção_sobre h1{
	text-align: center;
	margin-bottom: 20px;
	padding: 50px;
}

#seção_sobre img{
	width: 30vw;
	margin: 0px 35%;
}

#seção_sobre p{
	text-align: center;
}	
