
/* CABEÇALHO DO SITE */
header{
	width: 100vw;
	height: 100px;
	background: darkgrey;
	display: flex;
	z-index: 100;
}

div.logo_farmacia{
	display: flex;
	align-items: center;
}

.logo_farmacia img{
	width: 100px;
} 

.logo_farmacia a{
	text-decoration: none;
	color: black;
	font-family: "Verdana", "sans-serif", "Arial";
	font-weight: bold;
}


/* Nav - Menu de botões*/
.hamburguer-right{
	width: 100vw;
	height: 100px;

	display: flex;
	cursor: pointer;
	
	align-items: center;
	justify-content: center;
}

nav div.menu-left{
	display: none;
}

.icon-x{
	display: none;
}

@media screen and (min-width: 500px){
	nav{
		display: flex;
		width: 100%;
		height: 100%;
	}

	.hamburguer-right{
		display: none;
		visibility: hidden;
	}

	nav div.menu-left{
		display: flex;
	}

	nav div ul{
		height: 100%;
		display: flex;
		align-items: center;
		list-style-type: none;
	}

	nav div ul li{
		margin: 0px 20px;
	}
	
	nav div ul li a{
		text-decoration: none;
		color: black;
		font-family: "Verdana", "sans-serif", "Arial";
		font-weight: bold;
	}

	nav div ul li a:hover{
	color: blue;
	}
}


}
