
/* Seção Produtos */
section > div#produtos-grid{
	background-color: white;
	display: grid;
	grid-template-columns: 1fr;
}

section > div > div{
	display: flex;
	align-items: center;
	margin: 15px;
}


section.produtos div#produtos-grid div img {
	width: 100px;
	border-radius: 20px;
	margin-right: 10px;
}
