/* Importando a fonte Roboto para o site */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* importando em módulos o código CSS do site */

/* Cabeçalho do Site e logo do site*/
@import "./nav.css";



/* Seção da página inicial Sobre*/
@import "./section_sobre.css";

/* Seção da página inicial Produtos*/
@import "./section_produtos.css";



/* Rodapé do site */
@import "./footer.css";


/* Página Externas*/

/* Página Sobre Nós */
@import "./sobre_nos.css";

/* Página Entre em Contato */
@import "./contato.css";
@import "./contato_form.css";

/* Globais */
*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

body{
	background-color: lightblue;
}

h2, h3, h4, h5, h6 {
	text-align: center;
	font-family: "Roboto", "Arial", "sans-serif";
}



/* Responsividade geral do site */
@media screen and (min-width: 1024px) {
	/* Cabeçalho */
	nav .menu{
    	opacity:1;
    	visibility:visible;
  	}

	nav .menu ul{
    	display:flex;
    	gap: 2rem;
  	}

	nav .icon-menu{
	    display:none;
  	}
  	
	nav  ul  li  a:hover{
		color: grey;
	}

	/*Imagem página inicial */
	section.sobre img{
		margin: 0 35%;
		width: 30vw;
	}

	/* Seção Produtos */
	section div#produtos-grid{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

}