/* Cabeçalho do site */
@import "./nav.css";

/* página inicial*/
/* Seção sobre */
@import "./inicio_sobre.css";

/* Seção produtos*/
@import "./inicio_produtos.css";

/* Rodapé do site */
@import "./footer.css";

/* Páginas Externas */
/* Página História */
@import "./pagina_historia.css";

/* Página Contato */
@import "./pagina_contato.css";
@import "./contato_form.css";

/* Globais */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: lightblue;
}

header .grid{
	display: grid;
	gap: 2.25rem;
}

h1, h2, h3, h4, h5, h6, p {
	text-align: center;
	font-family: "Verdana", "Arial", "sans-serif";
}